Repository ynput/ayon-documentation, pull requests merged in 2024-08, with the labels that each got.

#182 Add section about Secret Management in Deadline
  website/docs/addon_deadline_admin.md
Labels: addon: Deadline

#205 The first iteration of adding USD docs
  website/docs/addon_usd_admin.md
  website/docs/addon_usd_artist_contribution_workflow.md
  website/docs/addon_usd_artist_faq.md
  website/docs/addon_usd_artist_get_started.md
  website/docs/addon_usd_artist_houdini_workflow.md
  website/docs/addon_usd_artist_maya_workflow.md
  website/docs/addon_usd_artist_usd_intro.md
  website/docs/assets/json/Ayon_addons_version.json
  website/docs/assets/usd/admin/usd_addon_settings.png
  website/docs/assets/usd/admin/usd_core_settings_1.png
  website/docs/assets/usd/artist_faq/available_layers.png
  website/docs/assets/usd/artist_faq/publish_layer_in_usd_product.png
  website/docs/assets/usd/artist_faq/publish_layer_in_usd_product_with_variant.png
  website/docs/assets/usd/artist_faq/separate_layer.png
  website/docs/assets/usd/artist_faq/unresolved-reference-path.png
  website/docs/assets/usd/artist_faq/what_are_publish_options.png
  website/docs/assets/usd/ayon_usd_contribution_to_asset.png
  website/docs/assets/usd/ayon_usd_contribution_to_shot.png
  website/docs/assets/usd/ayon_usd_load_asset_lop_primpath_presets.png
  website/docs/assets/usd/ayon_usd_maya_load_usd_product.gif
  website/docs/assets/usd/ayon_usd_maya_products_after_publish.gif
  website/docs/assets/usd/ayon_usd_maya_products_after_publish_web.png
  website/docs/assets/usd/ayon_usd_maya_publish_model.gif
  website/docs/assets/usd/ayon_usd_mute_layer_lop.png
  website/docs/assets/usd/usd_intro/asset_layers.png
  website/docs/assets/usd/usd_intro/asset_load_unload.gif
  website/docs/assets/usd/usd_intro/asset_variant.gif
  website/docs/assets/usd/usd_intro/asset_variant.png
  website/docs/assets/usd/usd_intro/usd_scene.png
  website/docs/assets/usd/usd_intro/usd_shot.png
  website/sidebars.js
  website/src/data/addons/addons.ts
  website/src/data/addons/data/img/openusd.png
  website/src/data/addons/data/openusd.ts
  website/src/data/products/data.ts
Labels: type: enhancement, Pipeline, Artist Docs, Admin Docs, addon: USD

#209 Update OTIO license in dev_requirements.md
  website/docs/dev_requirements.md
Labels: community

#147 Kitsu: Update kitsu addon docs to match kitsu addon version 1.1.0
  website/docs/addon_kitsu_admin.md
  website/docs/addon_kitsu_artist.md
  website/docs/assets/integrate_kitsu_note_settings.png
  website/docs/assets/json/Ayon_addons_version.json
  website/docs/assets/kitsu/admin/ayon_install_addon.png
  website/docs/assets/kitsu/admin/integrate_kitsu_note_settings.png
  website/docs/assets/kitsu/admin/kitsu_addon_market.png
  website/docs/assets/kitsu/admin/kitsu_admin_account.png
  website/docs/assets/kitsu/admin/kitsu_comment_publisher.png
  website/docs/assets/kitsu/admin/kitsu_comment_template.png
  website/docs/assets/kitsu/admin/kitsu_gh_releases.png
  website/docs/assets/kitsu/admin/kitsu_server_url.png
  website/docs/assets/kitsu/admin/kitsu_service.png
  website/docs/assets/kitsu/admin/kitsu_tab_sync.png
  website/docs/assets/kitsu/admin/kitsu_tab_sync_2.png
  website/docs/assets/kitsu/artist/kitsu_credentials.png
  website/docs/assets/kitsu/artist/kitsu_note_1.png
  website/docs/assets/kitsu/artist/kitsu_note_2.png
Labels: addon: Kitsu

#208 Add documentation for missing qt bindings in unreal
  website/docs/addon_unreal_admin.md
  website/docs/addon_unreal_artist.md
  website/docs/assets/unreal_qtbindings_warning.png
Labels: documentation, addon: UE

#210 Fixing minor typos in documentation.
  website/docs/addon_blender_admin.md
  website/docs/dev_launcher.md
  website/docs/dev_requirements.md
Labels: documentation, type: maintenance
