Repository ynput/ayon-documentation, pull requests merged in 2024-10, with the labels that each got.

#239 Add AYON APIs & Resources section
  website/docs/assets/apis_and_resources/copying_react_examples.gif
  website/docs/assets/apis_and_resources/graphql_example.png
  website/docs/assets/apis_and_resources/graphql_explorer.png
  website/docs/assets/apis_and_resources/graphql_explorer_ui.png
  website/docs/assets/apis_and_resources/rest_api_docs.png
  website/docs/assets/apis_and_resources/rest_get_projects.png
  website/docs/assets/apis_and_resources/rest_login.png
  website/docs/dev_api_cpp.md
  website/docs/dev_api_graphql.md
  website/docs/dev_api_python.md
  website/docs/dev_api_rest.md
  website/docs/dev_api_usd_resolver.md
  website/docs/dev_components_react.md
  website/docusaurus.config.js
  website/sidebars.js
Labels: type: enhancement

#257 Add/Improve info for unreal docs
  website/docs/addon_unreal_admin.md
  website/docs/addon_unreal_artist.md
  website/docs/assets/json/Ayon_addons_version.json
  website/docs/assets/motionbuilder_ayon_launcher.png
  website/docs/assets/unreal/admin/uasset_template_profile_ayon_core.png
  website/docs/assets/unreal/admin/uasset_template_project_anatomy.png
  website/docs/assets/unreal_alembic_maya_preset.png
  website/docs/assets/unreal_ayon_asset_directory_setting.png
  website/docs/assets/unreal_ayon_build_sequence_selector.png
  website/docs/assets/unreal_ayon_menu.png
  website/docs/assets/unreal_ayon_sequence_folder_structure.png
  website/docs/assets/unreal_level_sequence_structure.png
  website/docs/assets/unreal_load_model.png
  website/docs/assets/unreal_product_load_naming_convention.png
  website/docs/assets/unreal_scene_inventory_connect_animation.png
  website/docs/assets/unreal_scene_inventory_remove_item.png
  website/docs/assets/unreal_sequence_hierarchy_menu.png
  website/src/data/addons/data/img/unreal-icon.png
  website/src/data/addons/data/img/unreal.png
  website/src/data/addons/data/unreal.ts
Labels: addon: Unreal

#265 Remove/Replace Deprecated info about LODs
  website/docs/addon_maya_artist.md
  website/docs/artist_publish.md
Labels: addon: Maya, type: maintenance

#267 Update resolve artist documentation
  website/docs/addon_resolve_artist.md
  website/docs/assets/resolve/user_editorial_pkg_create01.png
  website/docs/assets/resolve/user_editorial_pkg_create02.png
  website/docs/assets/resolve/user_editorial_pkg_publishing01.png
  website/docs/assets/resolve/user_metadata_storing.png
Labels: type: enhancement, addon: Resolve

#266 247 Update pipeline documentation
  website/docs/admin_server_updating_pipeline.md
  website/docs/assets/server/admin/copy_settings_popup.png
  website/docs/assets/server/admin/update_pipeline.png
  website/docs/assets/server/admin/update_pipeline_configuration.png
  website/sidebars.js
Labels: Server, Admin Docs

#280 Version Control Addon: Add workspace name expectation
  website/docs/addon_version_control_admin_get_started.md
  website/docs/assets/version_control/perforce_workspace.png
Labels: addon: Version Control

#216 Enhance kitsu docs add some notes
  website/docs/addon_kitsu_admin.md
  website/docs/assets/kitsu/admin/deactivate_addon_per_project.png
Labels: community, addon: Kitsu, Admin Docs

#282 Add cinema4d docs
  website/docs/addon_cinema4d_admin.md
  website/docs/addon_cinema4d_artist.md
  website/docs/assets/cinema4d/admin/color_management.png
  website/docs/assets/cinema4d/artist/AYON_menu.png
  website/docs/assets/json/Ayon_addons_version.json
  website/sidebars.js
  website/src/data/addons/addons.ts
  website/src/data/addons/data/cinema4d.ts
  website/src/data/addons/data/img/cinema4d-icon.png
Labels: addon: Cinema4D

#269 Anatomy: new screenshots and extra info
  website/docs/admin_settings_project_anatomy.md
  website/docs/assets/settings/anatomy_folder_types.png
  website/docs/assets/settings/anatomy_statuses.png
  website/docs/assets/settings/anatomy_tags.png
  website/docs/assets/settings/anatomy_tasks.png
Labels: type: bug, Server, Admin Docs

#286 fix motion builder screenshot
  website/docs/addon_motionbuilder_artist.md
  website/docs/assets/motionbuilder/motionbuilder_ayon_launcher.png
  website/docs/assets/motionbuilder_ayon_launcher.png
Labels: type: bug, addon: motionbuilder

#289 Adjust Resolve documentation (user+admin) for recent publisher work.
  website/docs/addon_resolve_admin.md
  website/docs/addon_resolve_artist.md
  website/docs/assets/resolve/user_editorial_pkg_create01.png
  website/docs/assets/resolve/user_editorial_pkg_publishing01.png
  website/docs/assets/resolve_create_clips.png
  website/docs/assets/resolve_create_renaming_clips.png
  website/docs/assets/resolve_create_single_track_rename_hero_track.png
  website/docs/assets/resolve_create_template_filling.png
  website/docs/assets/resolve_create_vertical_rename_creator_ui.png
  website/docs/assets/resolve_menu_openpype.png
Labels: documentation, type: enhancement, addon: Resolve, Artist Docs, Admin Docs

#294 Fix screenshots of `Extract OIIO Transcode` examples
  website/docs/addon_core_settings.md
  website/docs/assets/core/admin/oiio_transcode_example.png
  website/docs/assets/core/admin/oiio_transcode_example2.png
  website/docs/assets/core_oiio_transcode.png
  website/docs/assets/core_oiio_transcode2.png
Labels: type: bug, addon: Core

#287 Add documentation for webactions and enhance production tracker docs
  website/docs/addon_applications_admin.md
  website/docs/artist_details_panel.md
  website/docs/assets/addon_dev/web_action_example.png
  website/docs/assets/details_panel/details_panel_overview.png
  website/docs/dev_addon_creation.md
  website/sidebars.js
Labels: addon: Applications

#290 add template format info for asset directories setting in unreal docs
  website/docs/addon_unreal_artist.md
  website/docs/assets/unreal_ayon_asset_directory_setting.png
Labels: addon: UE, addon: Unreal

#299 Task Progress: Add documentation about search and filtering
  website/docs/artist_task_progress_page.mdx
  website/docs/assets/task_progress/filter_excludes.png
  website/docs/assets/task_progress/filter_status_and_no_assignee.png
  website/docs/assets/task_progress/filter_status_or_status.png
  website/docs/assets/task_progress/filter_tag_and_tag.png
  website/docs/assets/task_progress/progress_filtering.gif
Labels: Production Tracking

#285 Added documentation for passing AYON server url to Deadline
  website/docs/addon_deadline_admin.md
  website/docs/assets/deadline/add_ayon_server_to_farm_job.png
  website/docs/assets/deadline/additional_ayon_servers.png
Labels: addon: Deadline
