Repository ynput/ayon-documentation, pull requests merged in 2024-12, with the labels that each got.

#304 Server: User permissions and access groups
  website/docs/admin_server_permissions.md
  website/docs/assets/server/admin/copy_settings_popup.png
  website/docs/assets/server/admin/permissions/access_group_project_settings.png
  website/docs/assets/server/admin/permissions/access_group_restrict_by_assigned.png
  website/docs/assets/server/admin/permissions/assigning_access_groups_to_users.png
  website/docs/assets/server/admin/permissions/default_access_groups.png
  website/docs/assets/server/admin/permissions/user_access_level.png
  website/docs/assets/server/admin/project_settings_menu.png
  website/docs/assets/server/admin/update_pipeline.png
  website/docs/assets/server/admin/update_pipeline_configuration.png
  website/sidebars.js
Labels: Server, Admin Docs

#315 Server: Market addons and releases
  website/docs/addon_kitsu_admin.md
  website/docs/admin_server_market.md
  website/docs/assets/server/admin/market/market-downloading-addon.png
  website/docs/assets/server/admin/market/market-menu.png
  website/docs/assets/server/admin/market/market-release-bundles.png
  website/docs/assets/server/admin/market/market-release-install.png
  website/docs/assets/server/admin/ynput-connect-status.png
  website/sidebars.js
Labels: Server, Admin Docs

#309 Update Hiero artist documentation with new publisher.
  website/docs/addon_hiero_artist.md
  website/docs/assets/hiero_createUIFrames.png
  website/docs/assets/hiero_createUIRename.png
  website/docs/assets/hiero_instanceCreator.png
  website/docs/assets/hiero_tagHandles.png
Labels: type: enhancement, addon: Hiero, Artist Docs

#318 Added segment about first synchronization of project in Flow (Shotgrid)
  website/docs/addon_flow_admin.md
  website/docs/assets/shotgrid/project_tracking.png
Labels: addon: Flow(SG)

#319 Update admin_server_deployment.md
  website/docs/admin_server_deployment.md
Labels: type: enhancement, Admin Docs
