Repository ynput/ayon-documentation, pull requests merged in 2024-09, with the labels that each got.

#221 Motionbuilder/admin docs
  website/docs/addon_motionbuilder_admin.md
  website/docs/addon_motionbuilder_artist.md
  website/docs/assets/json/Ayon_addons_version.json
  website/docs/assets/motionbuilder/motion_builder_in_bundle_settings.png
  website/docs/assets/motionbuilder/valid_version_plugin.png
  website/docs/assets/motionbuilder/validate_outdated_containers.png
Labels: Admin Docs, addon: motionbuilder

#218 Updates to slack addon
  website/docs/addon_slack.md
  website/docs/addon_slack_admin.md
  website/docs/assets/json/Ayon_addons_version.json
  website/docs/assets/slack/auth_key.png
  website/docs/assets/slack/messages_to_channels.png
  website/docs/assets/slack/notifications_to_slack.png
  website/docs/assets/slack/profiles.png
  website/docs/assets/slack/slack_token.png
  website/docs/assets/slack_project.png
Labels: addon: Slack

#228 Server: Update docs for how rest queries are generated
  website/docs/assets/server/enhance_with_provide_tags.png
  website/docs/assets/server/enhancing_endpoint.png
  website/docs/assets/server/rest_api_endpoint_example.png
  website/docs/assets/server/rest_api_import_and_enhance.png
  website/docs/assets/server/searching_for_queries.png
  website/docs/server_api_architecture.md
Labels: Dev Docs

#229 Add Nuke Troubleshoot for FBX camera.
  website/docs/addon_nuke_artist.md
  website/docs/assets/nuke/reload_fbx_camera.jpg
Labels: type: enhancement, addon: Nuke, Artist Docs

#236 Update motionbuilder docs
  website/docs/addon_motionbuilder_admin.md
  website/docs/addon_motionbuilder_artist.md
  website/src/data/addons/data/motionbuilder.ts
Labels: type: bug

#211 Add the first drafts of addon development docs
  website/docs/assets/addon_dev/addon_dev_mode.png
  website/docs/assets/addon_dev/addon_some_client_code_example.png
  website/docs/assets/addon_dev/end_point_1.png
  website/docs/assets/addon_dev/end_point_2.png
  website/docs/assets/addon_dev/flask_app_as_addon_frontend.png
  website/docs/assets/addon_dev/frontend_ready_example.gif
  website/docs/assets/addon_dev/launcher_actions_example.png
  website/docs/assets/addon_dev/launcher_actions_examples.png
  website/docs/assets/addon_dev/project_settings.png
  website/docs/assets/addon_dev/project_site_settings.png
  website/docs/assets/addon_dev/public_content_example.png
  website/docs/assets/addon_dev/publish_diagram.png
  website/docs/assets/addon_dev/publish_validation_error.png
  website/docs/assets/addon_dev/studio_settings.png
  website/docs/assets/addon_dev/studio_site_settings.png
  website/docs/assets/addon_dev/tray_menu.png
  website/docs/dev_addon_creation.md
  website/docs/dev_addon_intro.md
  website/sidebars.js
Labels: documentation, Pipeline, Dev Docs

#240 Add a warning about Nuke License compatibility
  website/docs/addon_nuke_admin.md
  website/docs/addon_nuke_artist.md
Labels: type: enhancement, addon: Nuke

#237 Enhancement: Update Ornatrix Docs
  website/docs/addon_maya_ornatrix_admin.md
  website/docs/addon_maya_ornatrix_artist.md
  website/docs/assets/maya/admin/ornatrix_creators.png
  website/docs/assets/maya/admin/ornatrix_loaders.png
  website/docs/assets/maya/admin/ornatrix_products_colors.png
  website/docs/assets/maya/admin/ornatrix_validators.png
  website/docs/assets/maya/artist/ox_creators_maya_addon_setting.jpg
  website/docs/assets/maya/artist/ox_loaders_maya_addon_setting.png
  website/docs/assets/maya/artist/ox_validator_maya_addon_setting.jpg
  website/sidebars.js
Labels: addon: Maya

#135 Deadline: Add docs for `Process submitted job on farm` plugin
  website/docs/addon_deadline_admin.md
  website/docs/assets/deadline/process_submitted_job_on_farm.png
  website/docs/assets/deadline/reviewable_products_filter.png
Labels: addon: Deadline

#231 Add documentation for launcher folder env vars
  website/docs/dev_launcher.md
Labels: Admin Docs

#243 Add `webreview` tag
  website/docs/addon_core_settings.md
Labels: type: enhancement, addon: Core

#244 update available template keys
  website/docs/admin_settings_project_anatomy.md
Labels: type: enhancement, Pipeline

#248 Added reactions section to activity feed
  website/docs/artist_activity_feed.md
  website/docs/assets/activity_feed/activity-feed-reactions.png
Labels: documentation

#256 Add new Flame addon documentation
  website/docs/addon_flame_admin_get_started.md
  website/docs/addon_flame_admin_intro.md
  website/docs/addon_flame_admin_settings.md
  website/docs/addon_flame_artist.md
  website/docs/addon_flow_admin.md
  website/docs/assets/flame/admin/add_tasks.png
  website/docs/assets/flame/admin/clip_original_media.png
  website/docs/assets/flame/admin/export_presets_mapping.png
  website/docs/assets/flame/admin/integrate_batch_group.png
  website/docs/assets/flame/admin/load_as_clip_to_batch.png
  website/docs/assets/flame/admin/load_clip.png
  website/docs/assets/flame/admin/opentimeio_to_flame_hook.png
  website/docs/assets/flame/admin/shot_attrs.png
  website/docs/assets/flame/admin/shot_hierarchy_and_rename_settings.png
  website/docs/assets/flame/admin/shot_template_keywords.png
  website/docs/assets/flame/admin/vertical_sync_attrs.png
  website/docs/assets/flame/admin/xml_presets_attrs.png
  website/docs/assets/flame/artist/ayon_attribute_publish_creator.png
  website/docs/assets/flame/artist/ayon_marks.png
  website/docs/assets/flame/artist/ayon_sequence_tracks_rename.png
  website/docs/assets/flame/artist/ayon_vertical_alignment.png
  website/docs/assets/flame/artist/ayon_vertical_alignment_creator.png
  website/docs/assets/flame/artist/flame_launcher.png
  website/docs/assets/flame/artist/flame_loader_actions.png
  website/docs/assets/flame/artist/main_menu_integration.png
  website/docs/assets/flame/artist/media_panel_menu_integration.png
  website/docs/assets/flame/artist/old_creator.png
  website/docs/assets/flame/artist/reels_menu_integration.png
  website/docs/assets/flame/artist/source_versions_action.png
  website/docs/assets/flame/artist/timeline_item_menu_integration.png
  website/docs/assets/json/Ayon_addons_version.json
  website/sidebars.js
  website/src/data/addons/data/flame.ts
  website/src/data/addons/data/img/flame-icon.png
  website/src/data/products/data.ts
  website/src/data/products/types.ts
Labels: type: enhancement, addon: Flame

#242 Add Ayon version control addon docs
  website/docs/addon_version_control_admin_get_started.md
  website/docs/addon_version_control_admin_intro.md
  website/docs/addon_version_control_admin_settings.md
  website/docs/addon_version_control_artist.md
  website/docs/assets/json/Ayon_addons_version.json
  website/docs/assets/version_control/collect_version_control.png
  website/docs/assets/version_control/connection_settings.png
  website/docs/assets/version_control/perforce_changes_viewer.png
  website/docs/assets/version_control/site_settings_user_credentials.png
  website/sidebars.js
  website/src/data/addons/addons.ts
  website/src/data/addons/data/img/perforce-icon.png
  website/src/data/addons/data/versioncontrol.ts
Labels: addon: Version Control

#259 Move perforce docs from unreal to version control docs
  website/docs/addon_unreal_admin.md
  website/docs/addon_unreal_artist.md
  website/docs/addon_version_control_artist.md
  website/docs/assets/unreal_changes_viewer.png
  website/docs/assets/unreal_perforce_local_settings.png
  website/docs/assets/version_control/perforce_changes_viewer.png
  website/docs/assets/version_control/site_settings_user_credentials.png
  website/docs/assets/version_control/unreal_perforce_changelist_metadata.png
Labels: addon: Version Control

#245 Add docs for 3dequalizer
  website/docs/addon_3dequalizer_admin.md
  website/docs/addon_3dequalizer_artist.md
  website/docs/assets/equalizer/default_variants_match_move.png
  website/docs/assets/equalizer/heartbeat_interval_setting.png
  website/docs/assets/json/Ayon_addons_version.json
  website/sidebars.js
  website/src/data/addons/addons.ts
  website/src/data/addons/data/3dequalizer.ts
  website/src/data/addons/data/img/3de4.png
Labels: addon: 3DEqualizer
