Repository ynput/ayon-documentation, pull requests merged in 2025-04, with the labels that each got.

#358 chore: Migrate plausible domain
  website/docusaurus.config.js
Labels: type: maintenance

#359 Document Resolve limitation for project settings editing.
  website/docs/addon_resolve_artist.md
Labels: documentation, addon: Resolve

#362 Rework ayon-shotgrid service documenation.
  website/docs/addon_flow_admin.md
  website/docs/assets/shotgrid/ay_enabled_entities.png
  website/docs/assets/shotgrid/ay_folder_parenting_root_relocation.png
  website/docs/assets/shotgrid/ay_folder_parenting_type_grouping.png
  website/docs/assets/shotgrid/ay_populate_sg_ayon.png
  website/docs/assets/shotgrid/ay_server_populate_table.png
  website/docs/assets/shotgrid/flow_asset_under_assetType.png
  website/docs/assets/shotgrid/flow_sequence_under_episode.png
  website/docs/assets/shotgrid/flow_shot_under_sequence.png
Labels: documentation, addon: Flow(SG)

#363 Document known limitations and bug for ayon-shotgrid.
  website/docs/addon_flow_admin.md
Labels: documentation, addon: Flow(SG)

#364 Standardize adobe auto install doc
  website/docs/addon_aftereffects_admin.md
  website/docs/addon_aftereffects_artist.md
  website/docs/addon_photoshop_admin.md
  website/docs/addon_photoshop_artist.md
  website/docs/addon_premiere_admin.md
  website/docs/addon_premiere_artist.md
Labels: documentation
