Repository ynput/ayon-documentation, pull requests merged in 2025-01, with the labels that each got.

#316 Added documentation for synchronization of users in Flow and fix some typo in project sync
  website/docs/addon_flow_admin.md
  website/docs/assets/shotgrid/ay_sync_users.png
Labels: addon: Flow(SG)

#323 Fix: Some small typos in Tray Publisher
  website/docs/addon_traypublisher_artist.md
  website/docs/addon_traypublisher_artist_advanced.md
Labels: addon: TrayPublisher

#328 Documentation for Substance Designer Integration
  package.json
  website/docs/addon_substancedesigner_admin.md
  website/docs/addon_substancedesigner_artist.md
  website/docs/assets/substance_designer_ayon_menu.png
  website/docs/assets/substance_designer_ayon_metadata.png
  website/docs/assets/substance_designer_embedded_options_for_texture_loader.png
  website/docs/assets/substance_designer_texture_loader_option.png
  website/sidebars.js
  website/src/data/addons/addons.ts
  website/src/data/addons/data/substancedesigner.ts
  website/src/data/products/data.ts
  website/src/data/products/types.ts
  yarn.lock
Labels: documentation

#331 Server: User licenses
  website/docs/admin_server_licenses.md
  website/docs/assets/server/admin/users/users-licenses-fixed.png
  website/sidebars.js
Labels: Server

#333 Server: Power features
  website/docs/admin_server_licenses.md
  website/docs/admin_server_power_features.md
  website/docs/assets/server/power/SSO-logins.png
  website/docs/assets/server/power/annotations.png
  website/docs/assets/server/power/market-all-releases.png
  website/docs/assets/server/power/power_pack_popup.png
  website/docs/assets/server/power/task-progress-slicer.png
  website/docs/assets/server/power/transcoding-reviewable.png
  website/sidebars.js
Labels: Server
